body {
    background-color: #000000;
} 

biggestText {
    display:block;
    margin:0;
    padding:0;
    border:0;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 32pt;
}

biggestTextW {
    display:block;
    margin:0;
    padding:0;
    border:0;
    color: rgb(0, 0, 0);
    font-size: 32pt;
}

medText {
    display:block;
    margin:0;
    padding:0;
    border:0;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 16pt;
}

botTag {
    display:block;
    margin:0;
    padding:0;
    border:0;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 12pt;
}

botTagLinked {
    display:block;
    margin:0;
    padding:0;
    border:0;
    color: rgb(255, 221, 109);
    background: rgb(0, 0, 0);
    font-size: 10pt;
}
