
body {
    /* background-image: url(./whale.jpg); */
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    font: "Roboto";
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center;  */
}

center {
    color: white;
    font: "Roboto";
}