
body {
    /* background-image: url(./whale.jpg); */
    color: rgb(0, 0, 0);
    background-color: rgb(2, 2, 2);
    background: black;
    font: "Roboto";
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center;  */
}

/* center {
    color: rgb(0, 0, 0);
    font: "Roboto";
} */